* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
}

header {
    background-color: #FF6900;
    padding-inline: 10%;
    padding-block: 10px;
    justify-content: space-between;
    color: white;
    align-items: center;
    box-shadow: 0 0 5px black;
}

ul {
    list-style-type: none;
    gap: 20px;
}

main {
    padding-inline: 10%;
    padding-block: 50px;
}

.card {
    width: 30%; 
}

.image-preview {
    position: relative;
}

.card img {
    width: 100%;
}

.labels {
    position: absolute;
    bottom: 30px;
    left: 0;
    gap: 5px;
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 16px;
    background-color: white;
    padding: 3%;
    color: black;
}

.heart:hover {
    color: red;
}

.discount {
    background-color: red;
    padding: 1% 2%;
}

.sustainability {
    
    background-color: green;
    padding: 1% 2%;
}