* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FF6900;
    padding-inline: 10%;
    padding-block: 10px;
    justify-content: space-between;
    color: white;
    align-items: center;
    box-shadow: 0 0 5px black;
    z-index: 1;
}

ul {
    list-style-type: none;
    gap: 20px;
}

main {
    padding-inline: 10%;
    padding-block: 50px;
    margin-top: 100px;
}

.card {
    width: calc(98% / 3);
    margin-bottom: 5%; 
}

.image-preview {
    position: relative;
}

.card img {
    width: 100%;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card:hover .img-hover {
    display: inline-block;
}

.labels {
    position: absolute;
    bottom: 30px;
    left: 0;
    gap: 5px;
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.label {
    padding: 5px 10px;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 16px;
    background-color: white;
    padding: 3%;
    color: black;
}

.heart:hover {
    color: red;
}

.discount {
    background-color: red;
}

.sustainability {
    background-color: green;
}

h6 {
    font-weight: 200;
}

h4 {
    text-transform: uppercase;
}

h5 {
    color: red;
}

h5 span {
    font-weight: 200;
    color: black;
    text-decoration: line-through;
}

#cards {
    flex-wrap: wrap;
    gap: 1%;
}

footer {
    background-color: #1A1A1A;
    color: white;
    padding-inline: 10%;
    padding-block: 30px;
    justify-content: space-between;
}

h2 {
    margin-bottom: 10px;
}

footer li {
    font-size: 14px;
}

h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

footer i {
    font-size: 20px;
    margin-right: 5px;
}